{% comment %}
Stands for "Badges List"
{% endcomment %}

<div class="link-cards">
  {% for column in include.columns %}
  <section>
    <strong class="big">{{ column.title }}</strong>
    <ul>
      {% for link in column.links %}
      <li><a href="{{ link.url }}">{{ link.text }}</a></li>
      {% endfor %}
    </ul>
  </section>
  {% endfor %}
</div>
