{% if include.caption != nil %}
<figure>
{% else %}
<figure aria-hidden="true">
{% endif %}
  <img src="{{ include.url }}"
    alt=""/>
  {% if include.caption != nil %}
    <figcaption>{{ include.caption | markdownify }}</figcaption>
  {% endif %}
</figure>
