<section class="presentation">
  {% for row in include.rows %}
  <div class="row">
    <div class="column">
      <figure aria-hidden="true">
        <img src="{{ row.image }}" alt=""/>
      </figure>
    </div>
    <div class="column">
      <p class="big">{{ row.title }}</p>
      <p>{{ row.description }}</p>
    </div>
  </div>
  {% endfor %}
</section>
