---
layout: general
---

{{ content }}

{% if site.paginate %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{%- if posts.size > 0 -%}

  {%- if page.list_title -%}
    <h2>{{ page.list_title }}</h2>
  {%- endif -%}

  {%- for post in posts -%}
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

    {% if post.hide != true %}
      {% if i == nil %}
        <section class="post latest-post">
        {%- assign i = 1 -%}
      {% else %}
        <section class="post">
      {% endif %}

        <article>
          <header>
            <h1><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h1>
            <p>{{ post.date | date: date_format }}</p>
          </header>
          {{ post.description | markdownify }}
        </article>
      </section>

      {% if forloop.last == false %}
        <hr class="post-separator">
      {% endif %}
    {% endif %}

  {%- endfor -%}
{% endif %}
