/* base.scss: Base style
 * Copyright (C) 2021 Hari Rana / TheEvilSkeleton and contributors
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, version 3.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program. If not, see <https://www.gnu.org/licenses/>
 */


/* FUNCTIONS, VARIABLES, and MIXINS */

/* Dark Mode (Default) */
:root {
  --main-color: #f2f2f2;
  --main-bg-color: #212121;
  --code-color: #353535;
  --blockquote-border-left-color: #696969;
  --header-bg-color: #2b2b2b;
  --header-select-color: #ba9cff;
  --text-select-color: black;
  --text-select-bg-color: #ba9cff;
  --hyperlink-color: #ba9cff;
  --hyperlink-hover-color: #bf69ff;
  --scrollbar-color: var(--header-select-color);
  --scrollbar-bg-color: var(--code-color);
  --shadow-color: black;
  --command-color: lightgray;
  --trigger-color: #ff7d7d;
  --trigger-bg-color: #381b1b;
  --disclaimer-color: #ffa56a;
  --disclaimer-bg-color: #312717;
  --target-bg-color: #424242;
  --table-outline-color: #555555;
  --tr-odd: #3e3e3e;
  --tr-even: #2f2f2f;

  /* Based on libadwaita:
   *  https://gnome.pages.gitlab.gnome.org/libadwaita/doc/main/named-colors.html
   */
  --orange: #ff7c6d;
  --mint: #5bc8af;
  --light-orange: #ffa348;
  --blue: #62a0ea;
  --green: #5bbb00;

  /* Global */
  --comment-opacity: 0.7;
  --global-fade-animation: 0.25s;
  --cursor-fade-animation: 1s;
  --separator-color: gray;
  --heading-margin-top: clamp(2.5rem, 6vw, 3rem);
  --font-size: clamp(1.1rem, 2vw + 0.00125rem, 1.25rem);
  --font-size-bigger: 1.25em;
  --font-size-smaller: 0.85em;
}

/* Sepia (light) Mode */
@media (prefers-color-scheme: light) {
  :root {
    --main-color: #303030;
    --main-bg-color: #fafafa;
    --code-color: #e8e8e8;
    --blockquote-border-left-color: #bdbdbd;
    --header-bg-color: #ebebeb;
    --header-select-color: #424559;
    --text-select-color: var(--main-bg-color);
    --text-select-bg-color: #303030;
    --hyperlink-color: #283685;
    --hyperlink-hover-color: #3967eb;
    --scrollbar-color: var(--header-select-color);
    --scrollbar-bg-color: var(--code-color);
    --shadow-color: gray;
    --command-color: black;
    --trigger-color: #480000;
    --trigger-bg-color: #ffaaaa;
    --disclaimer-color: #362100;
    --disclaimer-bg-color: #ffe2c9;
    --target-bg-color: var(--header-bg-color);
    --table-outline-color: #dedede;
    --tr-odd: #ededed;
    --tr-even: #f7f7f7;

    --orange: #7a2700;
    --mint: #005654;
    --light-orange: var(--orange);
    --blue: #0050ae;
    --green: #2d5d00;
  }
}

/* Reduced motion */
@media (prefers-reduced-motion) {
  :root {
    --global-fade-animation: 0;
    --cursor-fade-animation: 0;
  }
}

// SCSS variables
$tablet: "width >= 480px";
$desktop: "width >= 768px";


// Box
@mixin box($padding-size, $background-color) {
  box-shadow:
    -$padding-size 0 0 0 $background-color,
    $padding-size 0 0 0 $background-color,
    0 12px 24px -12px var(--shadow-color);
  padding-top: $padding-size;
  padding-bottom: $padding-size;
  background-color: $background-color;

  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }

  @media ($tablet) {
    border-radius: 12px;
    margin-block: $padding-size;
  }
}


/* LAYOUT */

html {
  background-color: var(--main-bg-color);
  scroll-behavior: smooth;
  scrollbar-color: var(--scrollbar-color) var(--scrollbar-bg-color);
}

body {
  min-height: 100dvh;
  color: var(--main-color);
  font-family: system-ui, sans-serif;
  overflow-wrap: break-word;
  margin: 0;
  display: grid;
  grid-template-columns: [full-width-start] 2fr [breakout-large-start] 1fr [breakout-small-start] 1fr [content-start] minmax(0, 800px) [content-end] 1fr [breakout-small-end] 1fr [breakout-large-end] 2fr [full-width-end];
  grid-template-rows: auto 1fr auto;
  font-size: var(--font-size);

  /* Header */
  & > header {
    grid-column: full-width;
    overflow: auto;
    background-color: var(--header-bg-color);
    box-shadow: 0 12px 24px -12px var(--shadow-color);
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: 600;

    nav {
      a {
        border-radius: 6px;
        padding: 12px;
        text-decoration: none;
        color: var(--header-select-color);

        &:hover {
          background-color: var(--header-select-color);
          color: var(--header-bg-color);
        }
      }

      .main-content {
        position: absolute;
        transform: translateY(-200%);
        background-color: var(--header-bg-color);

        &:focus {
          transform: translateY(0);
        }
      }

      .header-left, .main-content {
        font-size: var(--font-size-bigger);
        font-weight: 900;
      }

      .header-left {
        display: none;
      }

      .header-main {
        display: flex;
        justify-content: space-evenly;

        .active {
          background-color: var(--header-select-color);
          color: var(--header-bg-color);
        }
      }
    }
  }
}

.breakout-small.breakout-small {
  grid-column: breakout-small;
}

.breakout-large.breakout-large {
  grid-column: breakout-large;
}

/* Main content */
main {
  grid-column: content;
  line-height: 1.5;
  letter-spacing: 0.25px;
  margin-block: 1.5rem;
  margin-inline: 12px;
}

#main {
  h2, h3, h4, h5, h6 {
    margin-top: var(--heading-margin-top);
  }
}

/* Footer */
footer {
  overflow: hidden;
  background-color: var(--header-bg-color);
  text-align: center;
  font-size: var(--font-size-smaller);
  grid-column: full-width;
  display: grid;
  grid-template-columns: subgrid;

  nav {
    grid-column: content;
    padding-inline: 12px;
  }

  p {
    filter: brightness(80%);
  }
}


/* GENERAL STYLES */

::selection {
  color: var(--text-select-color);
  background: var(--text-select-bg-color);
}

:target:not(main) {
  background: var(--target-bg-color);
  transition: all .8s;
  transition-delay: 300ms;
  border-radius: 12px;
  box-shadow: 0 0 0 6px var(--target-bg-color);
}

a {
  color: var(--hyperlink-color);
  transition: var(--global-fade-animation);

  &:hover {
    color: var(--hyperlink-hover-color);
  }
}

blockquote {
  border-left: 6px solid var(--blockquote-border-left-color);
  border-radius: 6px;
  padding-left: 0.75rem;
  margin-inline: 0;
}

.big {
  font-size: var(--font-size-bigger);
}

hr {
  border-radius: 6px;
  border: 1px solid var(--separator-color);
}

h1 {
  text-align: center;
  text-wrap: balance;
}

p, li, h2, h3, h4, h5, h6 {
  text-wrap: pretty;
}

/* Lists */
*:not(li) {
  & > ul, & > ol {
    padding-left: 1.5rem;
  }
}

li {
  margin-block: 0.5rem;
}

.key-value-list {
  ul {
    list-style-type: none;

    & > li {
      margin-block: 0;
    }

    :not(li) > & {
      padding-left: 0;
    }

    span {
      opacity: var(--comment-opacity);
    }
  }
}

/* Code & codeblocks */
code {
  font-family: monospace;

  &.highlighter-rouge {
    padding: 1.5px;
    border-radius: 6px;
  }
}

.highlighter-rouge {
  background-color: var(--code-color);
  overflow: auto;
}

div.highlighter-rouge {
  @include box(12px, var(--code-color));
  max-height: 750px;
}

.command {
  color: var(--command-color);
  user-select: none;
}

/* Images and videos */
img, video {
  border-radius: 12px;
  max-width: 100%;
  max-height: 650px;
}

figure {
  text-align: center;
  margin-inline: auto;

  figcaption {
    padding: 3px;

    p {
      font-size: var(--font-size-smaller);
      text-wrap: balance;
      margin-top: 0.15em;
    }
  }
}

/* Table */
table {
  display: block;
  overflow-x: auto;
  border-collapse: collapse;
}

td {
  padding: 0.2rem 0.4rem;
}

th, td {
  border: 1px solid var(--table-outline-color);
}

tr {
  &:nth-child(odd) {
    background-color: var(--tr-odd);
  }

  &:nth-child(even) {
    background-color: var(--tr-even);
  }
}

/* Embeds */
.youtube-embed {
  aspect-ratio: 16 / 9;

  iframe {
    width: 100%;
    height: 100%;
    border-radius: 12px;
  }
}

/* "Posts" page */
.post {
  margin-block: 36px;
  font-size: var(--font-size-smaller);

  h1 {
    text-align: unset;
    text-wrap: unset;
    text-wrap: pretty;
    font-size: var(--font-size-bigger);
  }
}

.latest-post {
  @include box(36px, var(--header-bg-color));
}

.post-separator {
  margin: 0;
}

/* Article pages */
.trigger {
  @include box(24px, var(--trigger-bg-color));
  color: var(--trigger-color);
}

.disclaimer {
  @include box(24px, var(--disclaimer-bg-color));
  color: var(--disclaimer-color);
}

/* Not found page */
.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  * {
    margin: 5px;
  }

  img {
    image-rendering: pixelated;
    width: 100%;
  }
}

/* Marketing page */
.marketing-page {
  grid-column: breakout-large;
  display: grid;
  grid-template-columns: subgrid;
  gap: 1rem 0;

  & > section {
    grid-column: content;
  }

  h1 {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-height: 64px;
      max-width: 64px;
      margin-right: 6px;
    }
  }

  & > section:first-child {
    text-align: center;

    @media (prefers-reduced-motion: no-preference) {
      animation: popup var(--global-fade-animation) linear forwards;
    }

    & > * {
      margin-bottom: 2em;
    }

    & > div > * {
      margin-block: 0;
    }
  }

  & > section {
    & > h2 {
      text-decoration: underline;
    }

    &[class^="breakout-"] > h2 {
      text-align: center;
    }
  }
}

/* MISCELLANEOUS */

/* Blinking cursor */
.cursor {
  animation: cursor var(--cursor-fade-animation) infinite;
}

@keyframes cursor {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* Horizontally flip */
.flip {
  display: inline-block;
  transform: scaleX(-1);
}

/* Profile picture */
.icon {
  display: block;
  margin: 0 auto;
  width: 192px;
  height: 192px;
  box-shadow: 0 0 50px var(--shadow-color);
  border-radius: 100%;
}

.no-wrap {
  white-space: nowrap;
}

.link-cards {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 1rem;

  & > section {
    box-shadow: 0 12px 24px -12px var(--shadow-color);
    padding: 18px;
    background-color: var(--header-bg-color);
    border-radius: 12px;
    display: grid;
    grid-template-columns: subgrid;
    grid-auto-rows: min-content;
  }
}

.badges-list > *:not(:last-child)::after {
  content: " • ";
}

/* Presentation section */
.presentation {
  display: grid;
  gap: 5em;

  @media (prefers-reduced-motion: no-preference) {
    .row .column:first-child {
      opacity: 0;
      animation-fill-mode: forwards;
      animation-timing-function: ease-out;
      animation-timeline: view();
      animation-range: entry 20dvh entry 45dvh;
      animation-name: popup;
    }
  }

  .big, p {
    text-align: center;
    margin-inline: auto;
    text-wrap: balance;
  }

  .big {
    font-weight: bold;
    margin-top: 0;
  }

  p {
    width: calc(min(500px, 85vw));
  }
}

@keyframes popup {
  0% {
    opacity: 0;
    scale: 0.95;
  }

  100% {
    opacity: 1;
    scale: 1;
  }
}

@keyframes slide-from-left {
  0% {
    transform: translateX(-12%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-from-right {
  0% {
    transform: translateX(12%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* MEDIA QUERIES */

@media screen and ($tablet) {
  body {
    margin: 6px;
    min-height: calc(100dvh - 12px);

    & > * {
      border-radius: 12px;
    }

    & > header nav .header-main {
      justify-content: center;
      gap: 1rem;
    }
  }

  .icon {
    width: 256px;
    height: 256px;
  }

  .post-separator {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  .link-cards {
    grid-auto-flow: column;

    & > section strong {
      text-align: center;
    }
  }
}

@media screen and ($desktop) {
  body > header {
    display: grid;
    grid-template-columns: subgrid;

    nav {
      grid-column: breakout-small;
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-inline: 12px;

      .header-left {
        display: flex;
      }

      .header-main {
        justify-content: end;
        align-items: center;
      }
    }
  }

  /* Presentation section: Each row swaps between the image and content, e.g.
   *                        row 1: image, content
   *                        row 2: content, image
   *                        row 3: image, content
   *                        …
   */
  .presentation {
    gap: 0;

    .row {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;

      & .column:first-child {
        animation-range: entry 20dvh entry 65dvh;
      }

      /* Credit to https://stackoverflow.com/a/57383702 */
      &:nth-child(odd) {
        & .column:first-child {
          margin: 0 0 0 auto;
          animation-name: slide-from-left;
        }
      }

      &:nth-child(even) {
        & .column:first-child {
          margin: 0 auto 0 0;
          animation-name: slide-from-right;
        }

        & .column:last-child {
          order: -1;
          text-align: right;
          margin-left: auto;
        }
      }
    }

    .big, p {
      text-align: unset;
      margin-inline: unset;
    }
  }
}

@media print {
  body > header, .toc, footer {
    display: none;
  }
}