/* post.scss: Article page
 * Copyright (C) 2021 Hari Rana / TheEvilSkeleton and contributors
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, version 3.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program. If not, see <https://www.gnu.org/licenses/>
 */


/* Based on:
 * - https://philarcher.org/diary/2013/headingnumbers
 * - https://stackoverflow.com/a/16270270
 * - https://css-tricks.com/css-counters-custom-list-number-styling
 */
article {
  /* Heading */
  counter-reset: h2;

  h2 {counter-reset: h3}
  h3 {counter-reset: h4}
  h4 {counter-reset: h5}
  h5 {counter-reset: h6}

  h2:before {counter-increment: h2; content: counter(h2) ". "}
  h3:before {counter-increment: h3; content: counter(h2) "." counter(h3) ". "}
  h4:before {counter-increment: h4; content: counter(h2) "." counter(h3) "." counter(h4) ". "}
  h5:before {counter-increment: h5; content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". "}
  h6:before {counter-increment: h6; content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) ". "}

  /* Append arrow icon in links */
  a[href^="http"],
  a[href^="https://"] {
    &:not(figure > a)::after {
      /* CSS code for "↗"
       * Used for external links
       */
      content: " \2197" / "";
    }
  }

  a[href^="https://tesk.page"],
  a[href^="http://tesk.page"],
  a[href^="https://theevilskeleton.gitlab.io"],
  a[href^="http://theevilskeleton.gitlab.io"],
  a[href^="https://theevilskeleton.frama.io"],
  a[href^="http://theevilskeleton.frama.io"],
  a[href^="/"] {
    &:not(figure > a):not(header *)::after {
      /* CSS code for "→"
       * Used for internal links
       */
      content: " \2192" / "";
    }
  }

  /* Table of Contents */
  .toc {
    margin-top: 1em;

    ol {
      counter-reset: index;

      li {
        counter-increment: index;

        &::marker {
          content: counters(index, ".", decimal) ". ";
        }
      }
    }
  }
}